#guildo{
	position: absolute;
  	top: 192px; /*starting pos*/
  	left: 128px; /*starting pos*/
	width: 32px;
	height: 32px;
	z-index: 1;
	background: url('../../images/guildo.png') no-repeat;
}
#guildo.front-right { background-position: 0px 0px; }
#guildo.front-stand { background-position: -32px 0px; }
#guildo.front-left { background-position: -64px 0px; }

#guildo.left-right { background-position: 0px -32px; }
#guildo.left-stand { background-position: -32px -32px; }
#guildo.left-left { background-position: -64px -32px; }

#guildo.right-right { background-position: -64px -64px; }
#guildo.right-stand { background-position: -32px -64px; }
#guildo.right-left { background-position: -0px -64px; }

#guildo.back-right { background-position: 0px -96px; }
#guildo.back-stand { background-position: -32px -96px; }
#guildo.back-left { background-position: -64px -96px; }